
.window {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #e9a8f2; /* Warna ungu */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  text-align: center;
}

.img-project {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.img-project1 {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.img-project2 {
  width: 700px;
  height: 200px;
  border-radius: 10px;
}

.img-project4 {
  width: 700px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
}

.img-project5 {
  width: 700px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
}



.img-profil {
  border-radius: 560px;
  height: 200px;
  width: 200px;
}

.about{
  font-size: 20px;
  font-weight: 900;
}

.Projectt {
  margin-top: 280px;
}

.App-header {
  margin-top: 200px;
}






.footer {
  margin-top: auto;
}
